@model MvcCv.Models.Entity.TblAdmin
@{
    ViewBag.Title = "AdminDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h2  class="text-center my-4" style="background-color: #f3e5f5; color: #6a1b9a; ">Admin Düzenleme Sayfası</h2>
<form method="post">
    @Html.Label("Admin ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    @Html.Label("Kullanıcı Adı:")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    @Html.Label("Alt Başlık")
    <br />
    <button class="btn btn-info">GÜNCELLE</button>
</form>





