@model MvcCv.Models.Entity.TblHakkimda
@{
    ViewBag.Title = "HakkimdaDüzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2  class="text-center my-4" style="background-color: #f3e5f5; color: #6a1b9a; ">Hakkımda Düzenleme Sayfası</h2>
<br />
<br />

<form method="post">

    @Html.Label("AD")
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    @Html.Label("Soyad")
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
    <br />
    @Html.Label("Adres")
    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
    <br />
    @Html.Label("Telefon")
    @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
    <br />
    @Html.Label("Email")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Aciklama, new { @class = "control-label" })
    @Html.TextAreaFor(m => m.Aciklama, new { @class = "form-control", rows = 5 })
    <br />
    @Html.Label("Resim")
    @Html.TextBoxFor(x => x.Resim, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">GÜNCELLE</button>
</form>